aiofiles==24.1.0
aiogram==3.18.0
aiogram_dialog==2.4.0
aiohappyeyeballs==2.6.1
aiohttp==3.11.18
aiosignal==1.4.0
annotated-types==0.7.0
APScheduler==3.11.1
attrs==25.1.0
babel==2.17.0
blinker==1.9.0
cachetools==5.5.2
certifi==2025.11.12
charset-normalizer==3.4.4
click==8.3.1
distro==1.9.0
dotenv==0.9.9
Flask==3.1.2
frozenlist==1.8.0
idna==3.11
itsdangerous==2.2.0
magic-filter==1.0.12
MarkupSafe==3.0.3
multidict==6.7.0
propcache==0.4.1
psycopg2-binary==2.9.11
pydantic==2.10.6
pydantic_core==2.27.2
python-dotenv==1.1.1
requests==2.31.0
typing_extensions==4.15.0
tzlocal==5.3.1
urllib3==2.6.1
Werkzeug==3.1.4
wheel==0.42.0
yarl==1.22.0
